<script>
$(document).ready(function(){
   $("#commit").click(function(event){            
         event.preventDefault(); 
          $.ajax({
            type: "post",
            url: $("form").attr('action'),
            data: $("form").serialize(),
            dataType: "json",
            success: function () 
            {
              $("#note").text("Project Sucessfully Added ").css('color', 'green');;
            },
             error: function(xhr)
            {              
              var errors = $.parseJSON(xhr.responseText).errors;
              var errorText;             
              errorText = "<center>There were errors with the submission: \n<ul>";
              for ( error in errors )
              {
                errorText += "<li>" + error + ': ' + errors[error] + "</li></center> ";
              }
              errorText += "</ul>";             
              $("#note").html(errorText).css('color','red');              
            }          
          });         
    });     
});
</script>
<div id="note"></div>
<%= nested_form_for @project, :url => {:action => "create", :controller => "project"}, :html => {:class => "organizer"} do |form| %> 
<% if @project.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@project.errors.count, "error") %> prohibited
        this project from being saved:
      </h2>
      <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table cellpading=10 cellspacing=10 align='center' bgcolor='skyblue'>
<tr><th>
    <%= form.label :Title %></th><td>
    <%= form.text_field :title, value: params[:title] %></td></tr>
  
 
  <tr><th>
    <%= form.label :Description%></th><td>
    <%= form.text_area :desc %></td></tr>
  <tr><td colspan=2>
  <table id="tasks">
  <%= form.fields_for :tasks, :wrapper => false do |task_form| %>
    <tr class="fields">
    <td><%= task_form.date_field :date %></td>
      <td><%= task_form.text_field :title, placeholder: "Task Title" %></td>
       <td><%= task_form.text_field :desc, placeholder: "Task Description" %></td>
        <td><%= task_form.text_field :dur, placeholder: "Task Duration" %></td>
      <td><%= task_form.link_to_remove "Remove this task" %></td>
    </tr>
  <% end %>
</table>
<p><%= form.link_to_add "Add a task", :tasks, :data => { :target => "#tasks" } %></p>
</td></tr>
 <tr align="center"><td>
    <%= submit_tag "Create", data: { disable_with: "Please wait.." }, id: "commit" %><td>
  </tr></table>
 
<% end %>