<script> 
$(document).ready(function(event){
  $("#search").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });  
 
   $("#commit").click(function(event)
   {           
        var dat = $("#obj_date").val();              
        $('.form-date').val(dat);
        var sum = 0.0;        
        if($('.dur').val() != '')
        {

          //alert('Input can not be left blank');    
          $('.dur').each(function()
          {
            sum += parseFloat(this.value);        
          });      
          if(sum>8)
          {          
            $("#note").text("The Duration Time more than 8 hours..Please Check Duration Time").css('color', 'red');
            event.preventDefault()  
          } 
          else if (sum == 0)
          {
            $("#note").text("Please Fill the Form").css('color', 'red'); 
            event.preventDefault()           
          }
        }         
            event.preventDefault();          
           $.ajax({
            type: "post",
            url: $("form").attr('action'),          
            data: $("form").serializeArray(),            
            dataType: "json",
            success: function () 
            {
              //alert("success");
              $("#note").text("Tasks Sucessfully Added ").css('color', 'green');
              $("form")[0].reset();
              //window.location.reload();
            },
             error: function(xhr)
            {   
                //alert("fail");
                //alert(xhr.responseText);
              var errors = $.parseJSON(xhr.responseText).errors;                                    
              $("#note").text(errors).css('color','red');              
            }          
          });                            
  });               
});
</script>
<div id="note"></div>
<div id="flip"><h1><center>View All Tasks</center></h1></div>
<div align='center'>
<%= nested_form_for @project, :url => {:action => "update_all_task", :controller => "project"} do |form| %> 
<% if @date %>
<%= date_field(:obj, :date, :value => @date) %>
<% else %>
<%= date_field(:obj, :date) %>
<% end %>
<table id="tasks">
  <%= form.fields_for :tasks, :wrapper => false do |task_form| %>
    <tr class="fields">
    <td><%= task_form.hidden_field :date, class: 'form-date' %></td>
    <td><%= task_form.select :project_id, options_for_select(Project.all.map {|t| [ t.title, t.id]}, task_form.object.project_id), include_blank: "     " %></td>
      <td><%= task_form.text_field :title, placeholder: "Task Title", class: 'title' %></td>
        <td><%= task_form.text_field :desc, placeholder: "Task Description", class: 'desc' %></td>
        <td><%= task_form.number_field :dur, placeholder: "Task Duration", class: 'dur', step: :any %></td>
      <td><%= task_form.link_to_remove "Remove" %></td>
    </tr>
  <% end %>
</table>
<p><%= form.link_to_add "Add a task", :tasks, :data => { :target => "#tasks" } %></p>
<%= submit_tag "Add Task", data: { disable_with: "Please wait.." }, id: "commit" %>
<p><%= link_to 'Back', project_index_path %></p>
<% end %>
</div>